.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

body {
    background-color: #CAE9F5;
    font-family: 'Josefin Sans', sans-serif;
}

.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    background-color:#D3D3D3;
    color: #0a0a0a; 
}

h4 {
    color: #B43757;
}

h1 {
    color: #800020;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }